.circle-wrap {
  position: relative;
  display: inline-block;
}

.circle-wrap canvas {
  display: block;
}


.circle-center {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.circle-value {
  font-weight: 700;
  font-size: 1rem;
  color: #111;
}
