
.dashboard-root {
  margin-left: 230px; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: #f5f8fc;
}

.dashboard-top-section {
  display: flex;
  gap: 24px;
  width: 100%;
  align-items: stretch;
}


.dashboard-left-card {
  flex: 1;
  background: #ffffff;
  border-radius: 18px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 10px;
}


.license-box {
  background: linear-gradient(135deg, #0096c7, #005f81);
  color: #fff;
  padding: 20px;
  border-radius: 16px;
  width: 180px;
}

.license-box h1 {
  font-size: 40px;
  margin: 0;
}

.license-box span {
  font-size: 14px;
  opacity: 0.9;
}


.interaction-container {
  display: flex;
  gap: 20px;
  align-items: center;
}


.interaction-details {
  flex: 1;
  background: #ffffff;
  border-radius: 16px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.interaction-details h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
}


.interactions-list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 18px;
}


.interaction-item {
  font-size: 14px;
  display: flex;
  gap: 6px;
  align-items: center;
}


.interaction-item .dot {
  width: 9px;
  height: 9px;
  border-radius: 50%;
}


.dashboard-right-card {
  width: 380px;
  background: #ffffff;
  border-radius: 18px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 10px;
}

.campaign-title {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  font-weight: 600;
}

.campaign-circle-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}


.campaign-legend {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: 14px;
}

.legend-item {
  display: flex;
  justify-content: space-between;
  width: 140px;
}


.legend-item .dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}



.campaign-sections {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}


.campaign-box {
  background: white;
  border-radius: 18px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 10px;
}

.campaign-header {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
}

.campaign-content {
  display: flex;
  gap: 40px;
}


.campaign-big-circle {
  width: 180px;
  height: 180px;
}


.small-circles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 22px;
}



@media (max-width: 1260px) {
  .dashboard-top-section {
    flex-direction: column;
  }
  
  .dashboard-right-card {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .campaign-content {
    flex-direction: column;
  }

  .small-circles {
    grid-template-columns: repeat(2, 1fr);
  }
}
