
.dashboard-root {
  margin-left: 230px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  background: #f5f8fc;
}


.top-cards {
  width: 100%;
}


.campaign-sections {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}


.campaign-left {
  display: flex;
  flex-direction: column;
  gap: 24px;
}


@media (max-width: 900px) {
  .dashboard-root {
    margin-left: 0;
    padding: 15px;
  }
}



@media (max-width: 768px) {

  .dashboard-root {
    margin-left: 0;
    padding: 15px;
  }

  .top-cards {
    width: 100%;
  }

  .campaign-left {
    gap: 20px;
  }
}






